@import "variables";

body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(bg.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding-top: 12rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 55rem;
  height: 26rem;
  font-size: 15rem;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 0, 0.361) 40%,
    rgba(255, 255, 0, 0.306) 50%,
    rgba(255, 255, 0, 0) 73%
  );
}

@media screen and (max-width: 1100px) {
  .titleContainer {
    width: 70vw;
    height: 40vw;
    font-size: 24vw;
  }
  }

.wrapper {
  display: grid;
  text-transform: uppercase;
  place-items: center;
  grid-template-areas: "overlap";
  font-size: 100%;

  > div {
    -webkit-background-clip: text;
    background-clip: text;
    color: #363833;
    font-weight: 900;
    grid-area: overlap;
    -webkit-text-stroke: 9px transparent;
    letter-spacing: 3px;
  }

  .bg {
    transform: scaleY(1);
    filter: drop-shadow(12px 9px 4px black);
    transform-origin: top;
    font-family: var(--font);
    z-index: 1;
  }

  .fg {
    background-image: linear-gradient(
      180deg,
      #ffe598 0%,
      #ffe085 23%,
      #ff9d73 100%
    );
    color: #1e2127;
    font-family: var(--font);
    transform: scale(1);
    z-index: 2;
  }

  .grad {
    all: unset;
    background-image: linear-gradient(
      180deg,
      #fed042 0%,
      #f96e18 60%,
      #f12611 100%
    );
    transform: scale(1);
    font-family: var(--font);
    z-index: 3;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    font-weight: 900;
    grid-area: overlap;
    font-size: 100%;
    letter-spacing: 3px;
  }
}
// top title
.topTitle {
  position: absolute;
  top: 0;
  font-size: 23.3333%;

  > div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #363833;
    font-weight: 700;
    grid-area: overlap;
    letter-spacing: 5px;
    -webkit-text-stroke: 6px transparent;
  }

  .top {
    background-image: linear-gradient(
      180deg,
      #f9df90 0%,
      #ffdf7e 27%,
      #fa9265 100%
    );
    color: #000b1b;
    font-family: var(--font);
    font-weight: 100%;
  }
}
////btm title
.btmTitle {
  position: absolute;
  bottom: 0;
  font-size: 26.666%;

  > div {
    -webkit-background-clip: text;
    background-clip: text;
    color: #363833;
    font-weight: 700;
    letter-spacing: 5px;
    grid-area: overlap;
    -webkit-text-stroke: 6px transparent;
  }

  .btm {
    background-image: linear-gradient(
      180deg,
      #f9df90 0%,
      #ffdf7e 27%,
      #fa9265 100%
    );
    color: #000b1b;
    font-family: var(--font);
    font-size: 100%;
  }
}

@media screen and (max-width: 670px) {
  .wrapper {
  
    > div {
      font-weight: 700;
      -webkit-text-stroke: 7px transparent;
      letter-spacing: 3px;
    }
  
    .bg {
      filter: drop-shadow(9px 7px 3px black);
    }

    .grad {
      font-weight: 700;
      letter-spacing: 3px;
    }
  }
  // top title
  .topTitle {
    > div {
      letter-spacing: 4px;
      -webkit-text-stroke: 4px transparent;
    }
  }
  ////btm title
  .btmTitle {  
    > div {
      font-weight: 600;
      letter-spacing: 4px;
      -webkit-text-stroke: 4px transparent;
    }
  }
  }